/* +++++++++++++++++++++  Mediaqueries-start  ++++++++++++++++++++++ */

@media screen and (max-width: 768px) {


    /* +++++++++++++++++++++++++++++ HEADER Start +++++++++++++++++++++++++++++++++ */
    .banner_left {
        width: 235px;
        height: 530px;
    }

    .button_banner {
        position: absolute;
        bottom: 120px;
        right: 0px;
    }

    .white_button {
        width: 30px;
        height: 20px;
    }

    .red_button {
        width: 30px;
        height: 20px;
    }

    .banner_right {
        width: 508px;
        height: 530px;
    }

    .d-block {
        overflow: hidden;
    }

    .blok_banner {
        position: absolute;
        top: 168px !important;
        left: 124px !important;
    }

    .text_path {
        width: 300px;
        height: 178px;
        padding-top: 10px;
        padding-left: 20px;
    }

    .text_path h1 {
        padding: 16px;
        font-size: 25px;
        line-height: 41px;
    }

    .logodiv {
        margin-right: 30px;
    }

    .nav-bar_contacts {
        font-size: 16px !important;
        left: -15px;
        position: relative;
    }

    .nav-bar a {
        font-size: 14px;
    }

    /* +++++++++++++++++++++++++++++ HEADER End +++++++++++++++++++++++++++++++++ */










    /*+++++++++++++++++++++ Footer-start +++++++++++++++++++++++*/

    .footer_menu   {
        padding-left:0;
        width: 90%;
    }
    
    /*+++++++++++++++++++++ Footer-End +++++++++++++++++++++++*/
    
}

/* ++++++++++++++++  Media for 640px- start +++++++++++++ */


@media screen and (max-width: 640px) {


    /* +++++++++++++++++++++++++++++ HEADER Start +++++++++++++++++++++++++++++++++ */
    .banner_left {
        width: 235px;
        height: 530px;
    }

    .wrapper {
        width: 500px;
    }

    .button_banner {
        position: absolute;
        bottom: 120px;
        right: 0px;
    }

    .white_button {
        width: 30px;
        height: 20px;
    }

    .red_button {
        width: 30px;
        height: 20px;
    }

    .banner_right {
        width: 405px;
        height: 530px;
    }

    .d-block {
        overflow: hidden;
    }

    .blok_banner {
        position: absolute;
        top: 168px !important;
        left: 124px !important;
    }

    .text_path {
        width: 240px;
        height: 160px;
        padding-top: 5px;
        padding-left: 10px;
    }

    .text_path h1 {
        padding: 16px;
        font-size: 22px;
        line-height: 41px;
    }

    .logodiv {
        margin-right: 50px;
    }

    .nav-bar_contacts {
        font-size: 16px !important;
        left: -15px;
        position: relative;
    }

    .nav-bar a {
        font-size: 14px;
    }

    .icon {
        top: 50px;
    }

    .login_btn {
        width: 100px;
    }

    /*+++++++++++++++++++++ Header-End +++++++++++++++++++++++*/

      /*+++++++++++++++++++++ Footer-start +++++++++++++++++++++++*/

      .footer_menu {
        padding-left: 0;
        height: 100%;
        flex-direction: column;
    }

    .bar_bottom {
        height: 100%;
        padding: 20px 0;
    }

    .footer_menu li {
        padding: 5px 0;
    }

    /*+++++++++++++++++++++ Footer-End +++++++++++++++++++++++*/
}


/* ++++++++++++++++  Media for 640px- End +++++++++++++ */