@media screen and (max-width: 768px) {
    .form {
        width: 684px;
        height: 164px;
        flex-wrap: wrap;
        top: -40px;
    }

    input[type='text'] {
        width: 277px;
        height: 40px;
    }

    .bar_bottom h1 {
        font-size: 13px;
    }

    label {
        font-size: 13px;
    }

    .form_header p {
        font-size: 16px !important;
    }

    .select {
        position: relative;
        display: flex;
        width: 75%;
    }

    input[type='text'] {
        font-size: 14px;
        padding-left: 35px;
        margin: 0 5px 0 5px;
    }

    #marker {
        background-position: 2% 50%;
    }

    #date {
        background-position: 3% 50%;
        margin-right: 10px;
    }

    .button_submit {
        width: 315px;
        background-size: 20%;
        height: 44px;
        margin-left: 5px;
        border-radius: 30px;

    }

    .banner_left {
        width: 235px;
        height: 530px;
    }

    .banner_right {
        width: 508px;
        height: 530px;
    }


    .blok_banner {
        position: absolute;
        top: 168px !important;
        left: 124px !important;
    }

    .text_path {
        width: 300px;
        height: 178px;
    }

    .nav-bar a {
        font-size: 14px;
    }

    .nav-bar_contacts {
        font-size: 16px !important;
        left: 30px;
        position: relative;
    }

    .blok_body {
        width: 326px;
        height: 180px;
    }

    .txt_block {
        bottom: -125px;
    }

    .container_blocks {
        width: 685px;
    }

    .body_text h1 {
        font-size: 25px;
        line-height: 30px;

    }

    .white_button {
        width: 30px;
        height: 20px;
    }

    .button_banner {
        position: absolute;
        bottom: 40px;
        right: -32px;
    }

    .red_button {
        width: 30px;
        height: 20px;
    }

    .button_div a {
        width: 126px;
        height: 33px;
        border-radius: 20px;
        background-color: #c43139;
        border: 0;
        margin: 0 15px;
        font-size: 10px;
        color: #ffffff;
        font-weight: 600;
        text-align: center;
    }

    .text_path h1 {
        padding: 16px;
        font-size: 21px;
        line-height: 41px;
    }

    .company h2 {
        font-size: 10px;
        line-height: 35px;
    }

    .icon_path svg {
        max-height: 15px;
        max-width: 19px;
        padding: 8px 0;
    }
}