
@media screen and (max-width: 1024px) {
    .logo {
        height: 40px;
    }

    .blok_banner {
        position: absolute;
        top: 120px;
        left: 156px;
        z-index: 10;
    }

    .text_path {
        width: 300px;
        height: 140px;
    }

    .text_path h1 {
        padding: 25px;
        font-size: 20px;
    }

    .icon_path svg {
        max-height: 25px;
        max-width: 23px;
        padding: 10px 0;
    }

    .red_rectangle {
        width: 100px;
        height: 71px;
        top: -5px;
        left: -5px;
    }

    .red_rectangle2 {
        width: 100px;
        bottom: -5px;
        right: -5px;
        height: 71px;
    }

    .white_button {
        width: 40px;
        height: 30px;
    }

    .red_button {
        width: 40px;
        height: 30px;
    }

    .button_banner {
        position: absolute;
        bottom: 25px;
        right: -42px;
    }

    .gmail {
        font-size: 10px;


    }
}
