
@media screen and (max-width: 1247px) {

    .blok_banner {
        position: absolute;
        top: 141px;
        left: 216px;
        z-index: 10;
    }

    .text_path {
        width: 336px;
        height: 170px;
    }

    .text_path h1 {
        font-size: 22px;
        line-height: 50px;
        padding: 30px;
    }

    .red_rectangle {
        width: 110px;
        height: 80px;
        top: -5px;
        left: -5px;
    }

    .icon_path svg {
        max-height: 29px;
        max-width: 28px;
        padding: 7px 0;
    }

    .red_rectangle2 {
        width: 110px;
        bottom: -5px;
        right: -5px;
        height: 80px;
    }
}