/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Index.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
body {
    font-family: 'Gilroy' !important;
}

a {
    text-decoration: none;
    color: #191919;
}

span a {
    color: #c43139;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0;
    padding: 0;
    height: all;
    overflow: hidden;
}

.flex_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_left {
    z-index: 1;
    position: relative;
    width: 750px !important;
    height: 680px;
    background-image: url(../img/1111.png);
    background-size: cover;
}

.banner_right {
    width: 1170px;
}

.blok_banner {
    position: absolute;
    top: 180px;
    left: 290px;
    z-index: 10;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;

}

.logodiv {
    z-index: 1;
}

.logo {

    height: 73px;
}

.nav-bar_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gmail {
    font-size: 16px !important;
}

.nav-bar a {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}



.nav-bar_contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav-bar_contacts a:hover {
    text-decoration: none;
    color: #c43139;
}
.login_btn {
    width: 150px;
    display: flex;
    height: 40px;
    border-radius: 20px;
    border: 0;
    margin-left: 10px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: background-color 0.3s;

}

.button-hover:hover {
    height: 40px;
    width: 150px;
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    background-color: #c43139;
    box-shadow: 1px 2px 10px 5px rgba(193, 2, 2, 0.5);
}

.icon {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    position: absolute;
    top: 122px;
    left: -202px;
}

.socials {
    list-style: none;
    margin-left: 0;
}

.socials li {
    margin-bottom: 25px;
}

.socials li i {
    font-size: 25px;
    color: #3b3a3a;
    transition: color 0.2s;
}

.socials li i:hover {
    color: #c43139;
}

.icon_path {
    position: absolute;
    top: -50px;
    left: 150px;
}

.banner_blok {
    position: absolute;
    bottom: 150px;
    right: -170px;
}

.flex-parent {
    display: flex;
    height: 0px;
    align-items: center;
    padding: 0px 0;
    transform: rotate(-90deg);
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-child-edge {
    flex-grow: 0.5;
    height: 2px;
    background-color: #909090;
    border: 0.5 #e3e3e3 solid;
}

.flex-child-text {
    flex-basis: auto;
    margin: 0px 5px 0px 5px;
    text-align: center;
    padding: 0px;
    font-size: 14px;
}

.text_path {

    display: block;
    width: 530px;
    height: 250px;
    border-radius: 24px;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
}

.text_path h1 {
    font-size: 42px;
    line-height: 54px;
    color: #191919;
    padding: 40px;
    font-weight: 800;
}

.red_rectangle {
    width: 196px;
    height: 95px;
    border-radius: 24px;
    background-color: #c43139;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

.red_rectangle2 {
    width: 196px;
    height: 95px;
    border-radius: 24px;
    background-color: #c43139;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}

.white_button {
    width: 50px !important;
    height: 40px !important;
    border-bottom-left-radius: 50% !important;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff !important;
    border: 0 !important;
    opacity: 1 !important;
}

button:hover {
    cursor: pointer;
}

.red_button {
    width: 50px !important;
    height: 40px !important;
    background-color: #c43139 !important;
    border-top-right-radius: 50% !important;
    border: 0 !important;
    opacity: 1 !important;
}

.white_button i {
    font-size: 20px;
    color: #000;
}

.red_button i {
    font-size: 20px;
    color: #fff;
}

.button_banner {
    position: absolute;
    bottom: 25%;
    right: 0;

}

.body_text {
    width: 70% !important;
    margin: 0 auto;
}

.body_text h1 {
    font-size: 38px;
    line-height: 61px;
    color: #191919;
    font-weight: bold;
}

.body_text p {
    width: 100%;
    font-size: 16px;
    line-height: 28px;
    color: #666666;
}

ul {
    margin: 0 25px;
    padding: 0;
}

ol {
    margin: 0 25px;
    padding: 0;
}

span {
    color: #c43139;
}

.bar_bottom {
    width: 100%;
    height: 50px;
    background-color: #ededed;
}

.footer_menu {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

.footer_menu li {
    list-style: none;
}

.footer_menu a:hover {
    color: #c43139;
    transition: 0.2s;
}

.footer_menu li a {
    text-decoration: none;
    color: #3b3a3a;
}

a {
    text-decoration: none;
    color: #3b3a3a;
}

.bar_bottom h1 {
    font-size: 16px;
    margin-top: 15;
    padding: 0;
    color: #191919;
}

.company h2 {
    font-size: 12px;
    line-height: 46px;
    color: #191919;
    margin: 0;
    text-align: center;
}

.company h1 {
    margin: 0;
    font-size: 14px;
    line-height: 46px;
    color: #191919;
    text-align: center;
}


.form_header {
    text-align: center;
}

.form_header p {
    font-size: 18px;
    line-height: 26px;
    color: #191919;
    font-weight: 500;
    text-align: center;
}

.form {
    top: -85px;
    width: 63%;
    margin: 20px auto;
    height: 116px;
    border-radius: 26px;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    position: relative;
    align-items: center;
    padding-left: 10px;
    z-index: 10;
}

.form input {
    width: 270px;
    height: 60px;
    text-align: left;
}

input[type='text'] {
    height: 60px;
    border-radius: 30px;
    padding-left: 65px;
    margin: 0 20px 0 20px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    line-height: 46px;
    color: #8c8c8c;
}

.marker {
    background-image: url(../img/marker.png);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.fa-arrows-alt-h {
    font-size: 24px;
    color: #c43139;
    display: inline;
    box-shadow: #e43139 0px 0px 40px 2px;
}

#date {
    background-image: url(../img/date.png);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.button_submit {
    width: 200px;
    height: 117px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: box-shadow 0.1s;
    background-color: #c43139;
    border: 0px;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    background-image: url(../img/magnifier.png);
    background-position: 95% 90%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.button_submit:hover {
    box-shadow: 0 0 11px 0 #c43139;
}

.button_cancel {
    width: 25%;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
}

.button_path {
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: none;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding-left: 40px !important;
    line-height: 46px;
    color: #8c8c8c;
    border-radius: 30px !important;
    box-sizing: border-box !important;
}

label {
    text-align: left !important;
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
    border: none !important;

}

/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 77%;
    height: 66px;
    line-height: 4;
    overflow: hidden;
    border-radius: .25em;
    text-align: center;
}

input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 2px solid #bbbbbb;
    background-color: #e7e6e7;
    border-radius: 50%;
    vertical-align: bottom;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
    background-color: #c43139;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #8c8c8c;
    cursor: pointer;
}

/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 1px;
    right: 0;
    padding: 0 1em;
    background: #c43139;
    cursor: pointer;
    box-shadow: 0px 1px 3px 0px #c43139;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    border-radius: 0 30px 30px 0;
}

/* Transition */
.select:hover::after {
    color: #000;
}

.button_active {
    width: 30%;
    height: 60px;
    border-radius: 30px 0 0 30px;
    background-color: #c43139;
    border: 0;
    margin: 0;
    font-size: 14px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.button_no_active {
    width: 30%;
    height: 60px;
    border: 0;
    background-color: #efefef;
}

.container_blocks {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.blok_body {
    width: 20%;
    height: 220px;
    border-radius: 20px;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: auto 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.blok_body:hover {
    text-decoration: none;
}

.blok_body:first-child {
    background-image: url(../img/printer.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:first-child:hover {
    background-image: url(../img/printer-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(2) {
    background-image: url(../img/ticket.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(2):hover {
    background-image: url(../img/ticket-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(3) {
    background-image: url(../img/payment-method.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(3):hover {
    background-image: url(../img/payment-method-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(4) {
    background-image: url(../img/contract.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(4):hover {
    background-image: url(../img/contract-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(1):hover>.ellips {
    display: block;
}

.blok_body:nth-child(2):hover>.ellips {
    display: block;
}

.blok_body:nth-child(3):hover>.ellips {
    display: block;
}

.blok_body:nth-child(4):hover>.ellips {
    display: block;
}

.txt_block {
    font-size: 16px;
    font-weight: bold;
    color: #3b3a3a;
    position: relative;
    bottom: -150px
}

.ellips {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #c43139;
    position: absolute;
    top: -25%;
    left: -25%;
    display: none;
}

.container_phone {
    display: flex;
    justify-content: center;
    position: relative;
}

.phone {
    position: absolute;
    left: 170px;
    top: 70px;
    height: 640px;
    z-index: 15;
}

.rectangle1 {
    width: 950px;
    height: 75%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 5%;
}

.wrapper {
    position: relative;
    height: 860px;
    width: 1155px;
    left: 20%;
}

.rectangle2 {
    width: 100%;
    height: 800px;
    border-radius: 60px 0 0 60px;
    background-color: #f6f6f6;
    z-index: -5;
    padding: 30px 60px;
    position: absolute;
    text-align: center;
    right: 0;
}

.rectangle2_in {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.txt-app {
    width: 570px;
    margin-left: 220px;
}

.stores {
    margin-top: 50px;
}

.store {
    width: 260px;
    height: 90px;
    margin-right: 13px;
}

.red-txt {
    color: #e43139 !important;
}

.fz-18 {
    font-size: 19px;
    text-align: left;
    font-weight: 600;
}

.fz-48 {
    font-size: 48px;
    text-align: left;
    font-weight: 800;
}

.checked {
    width: 30px;
    height: 30px;
    background-color: #c43139;
    border-radius: 50%;

}

.list_rectangle {
    list-style-image: url(../img/verified\ copy.png);
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 40px;
}

.list_regtangle img {
    width: 20px;
    height: 20px;
    padding: 0 10px 0 0;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Cancel_Booking.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* FORM */
.text-wrap {
    text-align: center;
    margin: 40px;
}

.text-wrap h1,
p {
    font-weight: 700 !important;
}

.text-wrap p {
    font-size: 18px;
}

.button-red {
    background: #c43139;
    height: 50px;
    width: 185px;
    border-radius: 30px;
    color: #e7e6e7;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 3px 1px #c43139;
}

.button-clear {
    background: #fff;
    height: 50px;
    width: 185px;
    border-radius: 30px;
    color: #000000;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: 1px #dcdcdc solid;
}

.form-cancel {
    height: 330px;
    width: 770px;
    box-shadow: 0px 5px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding-top: 50px;
    margin: 0 auto 100px auto;
    border-radius: 25px;
}

.form-group input {
    width: 630px;
    height: 60px;
    border-radius: 30px;
    margin: 0 auto;
}

.mar-top-40 {
    margin-top: 40px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Check refund status.html !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */