/* +++++++++++++++++++++++++++++++++++++++++   HEADER-start  +++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
    font-family: 'Gilroy' !important;
}

a {
    text-decoration: none;
    color: #191919;
}

span {
    color: #c43139;
}

span a {
    color: #c43139;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 0;
    padding: 0;
    height: all;
    overflow: hidden;

}

.flex_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner_left {
    z-index: 1;
    position: relative;
    width: 750px !important;
    height: 680px;
    background-image: url(../img/1111.png);
    background-size: cover;
}

.banner_right {
    width: 1170px;
}

.blok_banner {
    position: absolute;
    top: 180px;
    left: 290px;
    z-index: 10;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 22px;
    left: 0;
    width: 100%;

}

.logodiv {
    z-index: 1;
}

.logo {

    height: 73px;
}

.nav-bar_right {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gmail {
    font-size: 16px !important;
}

.nav-bar a {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
}

.nav-bar_contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.nav-bar_contacts a:hover {
    text-decoration: none;
    color: #c43139;
}

.login_btn {
    width: 150px;
    display: flex;
    height: 40px;
    border-radius: 20px;
    border: 0;
    margin-left: 10px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    transition: background-color 0.15s;
}

.button-hover:hover {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
    background-color: #c43139;
    box-shadow: 1px 2px 10px 5px rgba(193, 2, 2, 0.5);
}

.icon {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    position: absolute;
    top: 122px;
    left: -202px;
}

.socials {
    list-style: none;
    margin-left: 0;
}

.socials li {
    margin-bottom: 25px;
}

.socials li i {
    font-size: 25px;
    color: #3b3a3a
}

.socials li i:hover {
    color: #c43139;
}

.icon_path {
    position: absolute;
    top: -50px;
    left: 110px;
}

.banner_blok {
    position: absolute;
    bottom: 150px;
    right: -170px;
}



.flex-parent {
    display: flex;
    height: 0px;
    align-items: center;
    padding: 0px 0;
    transform: rotate(-90deg);
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-child-edge {
    flex-grow: 0.5;
    height: 2px;
    background-color: #909090;
    border: 0.5 #e3e3e3 solid;
}

.flex-child-text {
    flex-basis: auto;
    margin: 0px 5px 0px 5px;
    text-align: center;
    padding: 0px;
    font-size: 14px;
}

.text_path {

    display: block;
    width: 530px;
    height: 250px;
    border-radius: 24px;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
}

.text_path h1 {
    font-size: 42px;
    line-height: 54px;
    color: #191919;
    padding: 40px;
    font-weight: 800;
}

.red_rectangle {
    width: 196px;
    height: 95px;
    border-radius: 24px;
    background-color: #c43139;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
}

.red_rectangle2 {
    width: 196px;
    height: 95px;
    border-radius: 24px;
    background-color: #c43139;
    position: absolute;
    bottom: -10px;
    right: -10px;
    z-index: -1;
}

.white_button {
    width: 50px !important;
    height: 40px !important;
    border-bottom-left-radius: 50% !important;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1) !important;
    background-color: #ffffff !important;
    border: 0 !important;
    opacity: 1 !important;
}

button:hover {
    cursor: pointer;
}

.red_button {
    width: 50px !important;
    height: 40px !important;
    background-color: #c43139 !important;
    border-top-right-radius: 50% !important;
    border: 0 !important;
    opacity: 1 !important;
}

.white_button i {
    font-size: 20px;
    color: #000;
}

.red_button i {
    font-size: 20px;
    color: #fff;
}

.button_banner {
    position: absolute;
    bottom: 25%;
    right: 0;

}

/* +++++++++++++++++++++++++++++++++++++++++   HEADER-end  +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++++++++++++   BODY-start  +++++++++++++++++++++++++++++++++++++++++++++++++ */
/* form-start */
.form_header {
    text-align: center;
}

.form_header p {
    font-size: 18px;
    line-height: 26px;
    color: #191919;
    font-weight: 500;
    text-align: center;
}

.form {
    top: -85px;
    width: 63%;
    margin: 20px auto;
    height: 116px;
    border-radius: 26px;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: start;
    position: relative;
    align-items: center;
    padding-left: 10px;
    z-index: 10;
}

.form input {
    width: 270px;
    height: 60px;
    text-align: left;
}

input[type='text'] {
    height: 60px;
    border-radius: 30px;
    padding-left: 65px;
    margin: 0 20px 0 20px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    line-height: 46px;
    color: #8c8c8c;
}

.marker {
    background-image: url(../img/marker.png);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.fa-arrows-alt-h {
    font-size: 24px;
    color: #c43139;
    display: inline;
    box-shadow: #e43139 0px 0px 40px 2px;
}

#date {
    background-image: url(../img/date.png);
    background-position: 10% 50%;
    background-repeat: no-repeat;
}

.button_submit {
    width: 200px;
    height: 117px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: box-shadow 0.1s;
    background-color: #c43139;
    border: 0px;
    font-size: 16px;
    line-height: 46px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    z-index: 10;
    background-image: url(../img/magnifier.png);
    background-position: 95% 90%;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
}

.button_submit:hover {
    box-shadow: 0 0 11px 0 #c43139;
}

.button_cancel {
    width: 25%;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
}

.button_path {
    text-align: center;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    border: none;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    padding-left: 40px !important;
    line-height: 46px;
    color: #8c8c8c;
    border-radius: 30px !important;
    box-sizing: border-box !important;
}

label {
    text-align: left !important;
}
/* form-end */

/* container of blocks-start */
.container_blocks {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.blok_body {
    width: 20%;
    height: 220px;
    border-radius: 20px;
    box-shadow: 0px 10px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: auto 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.blok_body:hover {
    text-decoration: none;
}

.blok_body:first-child {
    background-image: url(../img/printer.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:first-child:hover {
    background-image: url(../img/printer-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(2) {
    background-image: url(../img/ticket.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(2):hover {
    background-image: url(../img/ticket-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(3) {
    background-image: url(../img/payment-method.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(3):hover {
    background-image: url(../img/payment-method-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(4) {
    background-image: url(../img/contract.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(4):hover {
    background-image: url(../img/contract-red.png);
    background-position: 50% 40%;
    background-repeat: no-repeat;
}

.blok_body:nth-child(1):hover>.ellips {
    display: block;
}

.blok_body:nth-child(2):hover>.ellips {
    display: block;
}

.blok_body:nth-child(3):hover>.ellips {
    display: block;
}

.blok_body:nth-child(4):hover>.ellips {
    display: block;
}

.txt_block {
    font-size: 16px;
    font-weight: bold;
    color: #3b3a3a;
    position: relative;
    bottom: -150px
}

.ellips {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background-color: #c43139;
    position: absolute;
    top: -25%;
    left: -25%;
    display: none;
}
/* container of blocks-end */

/* Container_phone start  */
.container_phone {
    display: flex;
    justify-content: center;
    position: relative;
}

.phone {
    position: absolute;
    left: 170px;
    top: 70px;
    height: 640px;
    z-index: 15;
}

.rectangle1 {
    width: 950px;
    height: 75%;
    z-index: 10;
    position: absolute;
    left: 0;
    top: 5%;
}

.wrapper {
    position: relative;
    height: 860px;
    width: 1155px;
    left: 20%;
}

.rectangle2 {
    width: 100%;
    height: 800px;
    border-radius: 60px 0 0 60px;
    background-color: #f6f6f6;
    z-index: -5;
    padding: 30px 60px;
    position: absolute;
    text-align: center;
    right: 0;
}

.rectangle2_in {
    width: 50%;
    margin: 0 auto;
    text-align: left;
}

.txt-app {
    width: 570px;
    margin-left: 220px;
}

.stores {
    margin-top: 50px;
}

.store {
    width: 260px;
    height: 90px;
    margin-right: 13px;
}

.red-txt {
    color: #e43139 !important;
}

.fz-18 {
    font-size: 19px;
    text-align: left;
    font-weight: 600;
}

.fz-48 {
    font-size: 48px;
    text-align: left;
    font-weight: 800;
}

.checked {
    width: 30px;
    height: 30px;
    background-color: #c43139;
    border-radius: 50%;

}

.list_rectangle {
    list-style-image: url(../img/verified\ copy.png);
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 40px;
}

.list_regtangle img {
    width: 20px;
    height: 20px;
    padding: 0 10px 0 0;
}

/* Container_phone end */

/* +++++++++++++++++++++++++++++++++++++++++   BODY-end  +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++++++++++++++++++++++   FOOTER-start  +++++++++++++++++++++++++++++++++++++++++++++++++ */

.company h2 {
    font-size: 12px;
    line-height: 46px;
    color: #191919;
    margin: 0;
    text-align: center;
}

.company h1 {

    margin: 0;
    font-size: 14px;
    line-height: 46px;
    color: #191919;
    text-align: center;
}

.bar_bottom h1 {
    font-size: 16px;
    margin-top: 15;
    padding: 0;
    color: #191919;
}

.bar_bottom {
    width: 100%;
    height: 50px;
    background-color: #ededed;
}

.footer_menu {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;

}

.footer_menu li {
    list-style: none;
}

.footer_menu li a {
    text-decoration: none;
    color: #3b3a3a;
}

/* +++++++++++++++++++++++++++++++++++++++++   FOOTER-end  +++++++++++++++++++++++++++++++++++++++++++++++++ */

/* +++++++++++++++++++++  Mediaqueries-start  ++++++++++++++++++++++ */

/* ++++++++++++++++  Media for 1125px- start +++++++++++++ */

/*Эти медиа будут работать от 1000px до 1125px */

@media (min-width: 1000px) and (max-width: 1130px) {
    .logodiv {
        margin-right: 330px;
    }

    .blok_banner {
        top: 160px;
        left: 115px;
    }

    .icon {
        top: 51px;
        left: -200px;
    }

    .socials li i {
        font-size: 20px;
    }

    .socials li {
        margin-bottom: 15px;
    }

    .flex-parent {
        top: -8px;
    }

    .text_path h1 {
        padding: 20px;
        font-size: 36px;
        line-height: 40px;
    }

    .text_path {
        width: 400px;
        height: 180px;
    }

    .banner_left {
        width: 300px !important;
        height: 500px;
        background-size: 590px;
        background-repeat: no-repeat;
    }

    .banner_right {
        width: 825px;
    }

    .container_blocks {
        width: 100%;
    }

    .d-block {
        width: 960px;
    }

    .wrapper {
        left: 0;
        height: 730px;
    }

    .rectangle1 {
        height: 500px;
        left: -200px;
    }

    .phone {
        top: 55px;
        left: -40px;
    }

    .phone img {
        width: 600px;
    }

    .rectangle2 {
        width: 75%;
        height: 670px;
    }

    .txt-app {
        width: 465px;
        margin-left: 250px;
    }

    .store {
        width: 200px;
        height: 70px;
    }

    .form {
        top: -75px;
        width: 90%;
    }

    input[type='text'] {
        height: 45px;
    }

    .form input {
        width: 225px;
    }

    .button_submit {
        width: 150px;
    }

    .footer_menu {
        width: 100%;
    }
}

/* ++++++++++++++++  Media for 1125px- end +++++++++++++ */
/* ++++++++++++++++  Media for 768px- start +++++++++++++ */

@media screen and (max-width: 768px) {

    .banner_left {
        width: 235px;
        height: 530px;
    }

    .button_banner {
        position: absolute;
        bottom: 120px;
        right: 0px;
    }

    .white_button {
        width: 30px;
        height: 20px;
    }

    .red_button {
        width: 30px;
        height: 20px;
    }

    .banner_right {
        width: 508px;
        height: 530px;
    }

    .d-block {
        overflow: hidden;
    }

    .blok_banner {
        position: absolute;
        top: 168px !important;
        left: 124px !important;
    }

    .text_path {
        width: 300px;
        height: 178px;
        padding-top: 10px;
        padding-left: 20px;
    }

    .text_path h1 {
        padding: 16px;
        font-size: 25px;
        line-height: 41px;
    }

    .logodiv {
        margin-right: 30px;
    }

    .nav-bar_contacts {
        font-size: 16px !important;
        left: -15px;
        position: relative;
    }

    .nav-bar a {
        font-size: 14px;
    }

    /* +++++++++++++++++++++++++++++ HEADER End +++++++++++++++++++++++++++++++++ */



    /* +++++++++++++++++++++++++++++++++++ Body Start +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



    /* +++++++++++++++++++++++++++++++++++ Form Start +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


    .form {
        width: 684px;
        height: 164px;
        flex-wrap: wrap;
        top: -55px;
        padding-left: 30px;
    }

    input[type='text'] {
        font-size: 14px;
        padding-left: 55px;
        margin: 0 5px 0 5px;
        width: 277px;
        height: 40px;
    }

    .button_submit {
        width: 280px;
        background-size: 20%;
        height: 44px;
        margin-left: 5px;
        border-radius: 30px;
        right: 30px;
        bottom: 19px;
    }

    .marker {
        background-position: 3% 50%;
    }

    #date {
        background-position: 5% 50%;
        margin-right: 10px;
    }

    /* +++++++++++++++++++++++++++++++++++ Form End +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* +++++++++++++++++++++++++++++++++++ Container_blocks Start +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

    .container_blocks {
        width: 685px;
        flex-wrap: wrap;
        height: 420px;
    }

    .blok_body {
        margin-left: 15px;
    }

    .txt_block {
        bottom: -125px;
    }

    .ellips {
        top: -22%;
        left: -33%;
    }

    /* +++++++++++++++++++++++++++++++++++ Container_blocks End +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    .wrapper {
        left: 0;
        width: 768px;
    }

    .rectangle2 {
        border-radius: 0;
        left: 0 !important;
        width: 768px;
    }

    .list_rectangle {
        margin-left: 130px;
    }

    .fz-48 {
        text-align: center;
    }

    .fz-18 {
        text-align: center;
    }

    .txt-app {
        margin-left: 50px;
    }

    .bar_bottom h1 {
        font-size: 13px;
    }

    label {
        font-size: 13px;
    }


    .select {
        position: relative;
        display: flex;
        width: 75%;
    }

    .rectangle1 {
        width: 710px;
        height: 300px;
        position: absolute;
    }

    .container_phone {
        flex-direction: column-reverse;
        height: 1201px;
    }

    .blok_body {
        width: 326px;
        height: 180px;
    }

    .txt_block {
        bottom: -125px;
    }

    .container_blocks {
        width: 685px;
        flex-wrap: wrap;
        height: 420px;
    }

    .blok_body {
        margin-left: 15px;
    }

    .phone {
        position: absolute;
        height: 0;
    }

    .phone img {
        width: 430px;
        height: auto;
        top: -70px;
        position: relative;
    }

    .phone_block {
        position: relative;
        display: block;
        top: -100px;
        height: 400px;
    }

    .button_div a {
        width: 126px;
        height: 33px;
        border-radius: 20px;
        background-color: #c43139;
        border: 0;
        margin: 0 15px;
        font-size: 10px;
        color: #ffffff;
        font-weight: 600;
        text-align: center;
    }

    .company h2 {
        font-size: 10px;
        line-height: 35px;
    }

    footer {
        top: 130px;

    }

    .ellips {
        top: -22%;
        left: -33%;
    }

    /*+++++++++++++++++++++ Footer-start +++++++++++++++++++++++*/

    .footer_menu {
        padding-left: 0;
        width: 90%;
    }

    /*+++++++++++++++++++++ Footer-End +++++++++++++++++++++++*/
}

/* ++++++++++++++++  Media for 640px- end +++++++++++++ */
@media screen and (max-width: 640px) {

    /* +++++++++++++++++++++++++++++ HEADER Start +++++++++++++++++++++++++++++++++ */
    .banner_left {
        width: 235px;
        height: 530px;
    }
    .logo {
        height: 55px;
    }
    .wrapper {
        width: 500px;
    }

    .button_banner {
        position: absolute;
        bottom: 120px;
        right: 0px;
    }

    .white_button {
        width: 30px;
        height: 20px;
    }

    .red_button {
        width: 30px;
        height: 20px;
    }

    .banner_right {
        width: 405px;
        height: 530px;
    }

    .d-block {
        overflow: hidden;
    }

    .blok_banner {
        position: absolute;
        top: 168px !important;
        left: 124px !important;
    }

    .text_path {
        width: 240px;
        height: 160px;
        padding-top: 5px;
        padding-left: 10px;
    }

    .text_path h1 {
        padding: 16px;
        font-size: 22px;
        line-height: 41px;
    }

    .logodiv {
        margin-right: 50px;
    }

    .nav-bar_contacts {
        font-size: 16px !important;
        left: 200px;
        position: relative;
    }

    .login_btn {
        font-size: 14px;
        position: relative;
        top: 60px
    }

    .icon {
        top: 50px;
    }

    .login_btn {
        width: 100px;
    }

    /*+++++++++++++++++++++ Header-End +++++++++++++++++++++++*/
    /* +++++++++++++++++++++++++++++++++++ Body Start +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* +++++++++++++++++++++++++++++++++++ Form Start +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    .form {
        width: 580px;
        height: 164px;
        flex-wrap: wrap;
        top: -55px;
        padding-left: 30px;
    }

    input[type='text'] {
        font-size: 14px;
        padding-left: 55px;
        margin: 0 5px 0 5px;
        width: 234px;
        height: 40px;
    }

    .button_submit {
        width: 235px;
        background-size: 17%;
        margin-left: 5px;
        right: 18px;
        bottom: 19px;
        font-size: 14px;
    }

    /* +++++++++++++++++++++++++++++++++++ Form End +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    /* +++++++++++++++++++++++++++++++++++ Container_blocks Start +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    .container_blocks {
        width: 580px;
        flex-wrap: wrap;
        height: 420px;
    }

    .blok_body {
        margin-left: 5px;
        width: 275px;
        background-size: 17% 28%;
    }

    .txt_block {
        bottom: -125px;
    }

    .ellips {
        top: -22%;
        left: -33%;
    }

    /* +++++++++++++++++++++++++++++++++++ Container_blocks End +++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
    .txt-app {
        margin-left: -20px;
    }

    .rectangle1 {
        width: 640px;
    }

    .rectangle2 {
        border-radius: 0;
        left: 0 !important;
        width: 640px;
    }

    .wrapper {
        width: 640px;
    }

    .phone {
        left: 110px;
    }

    /*+++++++++++++++++++++ Footer-start +++++++++++++++++++++++*/

    .footer_menu {
        padding-left: 0;
        height: 100%;
        flex-direction: column;
    }

    .bar_bottom {
        height: 100%;
        padding: 20px 0;
    }

    .footer_menu li {
        padding: 5px 0;
    }

    /*+++++++++++++++++++++ Footer-End +++++++++++++++++++++++*/
}

/* ++++++++++++++++  Media for 640px- end +++++++++++++ */
/* +++++++++++++++++++++++++++++++++  Mediaqueries-end  ++++++++++++++++++++++++++ */